
<div *ngIf="artista" class="main-container animated fadeIn fast">
<div class="row">

  <div class="col-md-3 text-center ">
    <img [src]="artista.images | sinfoto" class="rounded-circle img-200 img-thumbnail margin-izq">
  </div>

  <div class="col-md-7">
    <h1 class="text-center">{{ artista.name }}</h1>
    <h5 class="text-center">
        Followers:   <small> {{ artista.followers.total | number }}     </small>
     |  Género:      <small> {{ artista.genres[0] | uppercase}}         </small>
     |  Popularidad: <small> {{ artista.popularity }} %</small>
    </h5>
    <hr>
    <div class="text-center">

    <button [routerLink] ="['/search']"  type="button"class="btn btn-outline-danger mx-2"> Regresar </button>
    <a  [href]="artista.external_urls?.spotify" target="_blank" class="btn btn-outline-success" role="button">Abrir en Spotify</a>
    </div>

</div>
</div>

<div style="margin-left: 24%">

<div *ngIf="pistas"class="col-md-10">
  <h1 style="margin-top: 30px">TOP Tracks</h1>


      <table class="table table-responsive ">
        <thead class="thead-dark">
        <tr class="text-center">
            <th scope="col"> #      </th>
            <th scope="col"> Imagen       </th>
            <th scope="col"> Canción </th>
            <th scope="col"> Popularidad </th>
            <th scope="col"> Preview </th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pistas; let i = index">

            <td class="text-center" scope="row" > {{ i+1 }}</td>
            <td class="text-center"> <img [src]="item.album?.images | sinfoto" class="img-50 img-fluid"> </td>
            <td class="text-center"> {{  item.name   }}</td>
            <td class="text-center"> {{  item.popularity }} %</td>
            <td class="text-center">
                <audio controls>
                <source [src]="item.preview_url | sinPreviw">Tu navegador es viejo!
                </audio>
           </td>
          </tr>
        </tbody>

      </table>
</div>
</div>
